body{
  font-family: roboto;
  display: flex;
  flex-direction: column;
  margin:0;
}

.links{
  display: flex;
  gap:16px;
}

.top{
  padding:16px 100px 100px 200px;
  background-color: #1F2937;
  color:white;
}

.heading{
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 790;

}

.hero{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
.text,
a{
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb; 
}

.second{
  padding-right:70px;
}

.cont{
  display: flex;
  align-items: center;
}
.right,
.left{
  /* border:3px solid; */
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
}
.right{
  background-color: #7f7f7f;
  align-self: stretch;
}

.awesome{
  font-size: 48px;
  font-weight:900;
}

button{
  align-self: flex-start;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 5px 22px;
  font-size: 18px;
  border-radius: 8px;
  border: 0;
  margin-top:8px;
  font-weight: 700;
}
